In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Label Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
# Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [10]:
# Save the encoders and scalers
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler_regression.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics='mae')

model.summary()

WARNING:tensorflow:From c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 100389.6719 - mae: 100389.6719 - val_loss: 98566.3906 - val_mae: 98566.3906
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99826.2188 - mae: 99826.2188 - val_loss: 97431.7891 - val_mae: 97431.7891
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97834.5859 - mae: 97834.5859 - val_loss: 94489.9844 - val_mae: 94489.9844
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 93833.3516 - mae: 93833.3516 - val_loss: 89448.4141 - val_mae: 89448.4141
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 87793.6328 - mae: 87793.6328 - val_loss: 82604.3672 - val_mae: 82604.3672
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 80272.4766 - mae: 80272.4766 - val_loss: 74858.7109 - val_mae: 74858.7109
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 72237.9062 - mae: 72237.9062 - val_loss: 67273.2109 - val_mae: 67273.2109
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 64750.5703 - mae: 64750.5703 - val_loss: 60746.0586 - val_mae: 60746.0586
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 58792.8477 - mae: 58792.8477 - val_loss: 56048.8906 - val_mae: 56048.8906
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 54788.0430 - mae: 54788.0430 - val_loss: 53210.1250 - val_mae: 53210.1250
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 52446.4336 - mae: 52446.4336 - val_loss: 51701.1797 - val_mae: 51701.1797
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 51266.4375 - mae: 51266.4375 - val_loss: 51115.7695 - val_mae: 51115.7695
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50746.8945 - mae: 50746.8945 - val_loss: 50909.4961 - val_mae: 50909.4961
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50518.0547 - mae: 50518.0547 - val_loss: 50823.8477 - val_mae: 50823.8477
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50394.2734 - mae: 50394.2734 - val_loss: 50769.5156 - val_mae: 50769.5156
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50316.9102 - mae: 50316.9102 - val_loss: 50719.1523 - val_mae: 50719.1523
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50256.3477 - mae: 50256.3477 - val_loss: 50682.4609 - val_mae: 50682.4609
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50206.4375 - mae: 50206.4375 - val_loss: 50639.1367 - val_mae: 50639.1367
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50161.8867 - mae: 50161.8867 - val_loss: 50599.0000 - val_mae: 50599.0000
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50120.8125 - mae: 50120.8125 - val_loss: 50561.7617 - val_mae: 50561.7617
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 50085.2109 - mae: 50085.2109 - val_loss: 50525.0664 - val_mae: 50525.0664
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 50048.2734 - mae: 50048.2734 - val_loss: 50490.2422 - val_mae: 50490.2422
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 50017.9766 - mae: 50017.9766 - val_loss: 50456.4336 - val_mae: 50456.4336
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49983.6641 - mae: 49983.6641 - val_loss: 50435.8477 - val_mae: 50435.8477
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49953.4141 - mae: 49953.4141 - val_loss: 50413.9727 - val_mae: 50413.9727
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49927.3555 - mae: 49927.3555 - val_loss: 50395.8828 - val_mae: 50395.8828
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49902.2930 - mae: 49902.2930 - val_loss: 50376.0508 - val_mae: 50376.0508
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49879.1602 - mae: 49879.1602 - val_loss: 50364.3398 - val_mae: 50364.3398
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49854.6562 - mae: 49854.6562 - val_loss: 50343.5547 - val_mae: 50343.5547
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49835.6289 - mae: 49835.6289 - val_loss: 50330.0664 - val_mae: 50330.0664
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49817.0898 - mae: 49817.0898 - val_loss: 50316.6445 - val_mae: 50316.6445
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49800.4102 - mae: 49800.4102 - val_loss: 50305.9414 - val_mae: 50305.9414
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49780.0195 - mae: 49780.0195 - val_loss: 50300.6289 - val_mae: 50300.6289
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49763.9297 - mae: 49763.9297 - val_loss: 50295.8828 - val_mae: 50295.8828
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49746.8672 - mae: 49746.8672 - val_loss: 50281.6133 - val_mae: 50281.6133
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49733.3242 - mae: 49733.3242 - val_loss: 50278.0039 - val_mae: 50278.0039
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49720.9375 - mae: 49720.9375 - val_loss: 50259.3047 - val_mae: 50259.3047
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49705.9844 - mae: 49705.9844 - val_loss: 50249.6367 - val_mae: 50249.6367
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49692.3633 - mae: 49692.3633 - val_loss: 50244.4844 - val_mae: 50244.4844
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49680.6797 - mae: 49680.6797 - val_loss: 50234.2891 - val_mae: 50234.2891
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49667.6172 - mae: 49667.6172 - val_loss: 50229.9844 - val_mae: 50229.9844
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49654.7109 - mae: 49654.7109 - val_loss: 50227.4961 - val_mae: 50227.4961
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49645.3516 - mae: 49645.3516 - val_loss: 50224.0703 - val_mae: 50224.0703
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49635.3438 - mae: 49635.3438 - val_loss: 50214.0195 - val_mae: 50214.0195
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49622.4258 - mae: 49622.4258 - val_loss: 50216.8047 - val_mae: 50216.8047
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49614.2656 - mae: 49614.2656 - val_loss: 50209.6484 - val_mae: 50209.6484
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49603.8242 - mae: 49603.8242 - val_loss: 50208.9844 - val_mae: 50208.9844
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49597.6680 - mae: 49597.6680 - val_loss: 50202.5312 - val_mae: 50202.5312
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49585.6641 - mae: 49585.6641 - val_loss: 50204.4453 - val_mae: 50204.4453
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49578.1406 - mae: 49578.1406 - val_loss: 50203.2773 - val_mae: 50203.2773
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49571.8438 - mae: 49571.8438 - val_loss: 50205.5664 - val_mae: 50205.5664
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49560.7344 - mae: 49560.7344 - val_loss: 50198.6953 - val_mae: 50198.6953
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49551.8164 - mae: 49551.8164 - val_loss: 50194.8828 - val_mae: 50194.8828
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49546.3164 - mae: 49546.3164 - val_loss: 50193.3281 - val_mae: 50193.3281
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49536.1250 - mae: 49536.1250 - val_loss: 50196.4570 - val_mae: 50196.4570
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49533.7852 - mae: 49533.7852 - val_loss: 50196.8281 - val_mae: 50196.8281
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49524.5391 - mae: 49524.5391 - val_loss: 50193.2148 - val_mae: 50193.2148
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49518.9336 - mae: 49518.9336 - val_loss: 50186.8867 - val_mae: 50186.8867
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49510.0547 - mae: 49510.0547 - val_loss: 50187.3281 - val_mae: 50187.3281
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49504.8828 - mae: 49504.8828 - val_loss: 50181.3125 - val_mae: 50181.3125
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49497.6953 - mae: 49497.6953 - val_loss: 50192.1484 - val_mae: 50192.1484
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49493.8555 - mae: 49493.8555 - val_loss: 50193.2188 - val_mae: 50193.2188
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49484.5898 - mae: 49484.5898 - val_loss: 50200.8984 - val_mae: 50200.8984
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 49478.9883 - mae: 49478.9883 - val_loss: 50196.5000 - val_mae: 50196.5000
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 49473.7305 - mae: 49473.7305 - val_loss: 50192.1445 - val_mae: 50192.1445
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49471.4961 - mae: 49471.4961 - val_loss: 50198.8750 - val_mae: 50198.8750
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 49462.7070 - mae: 49462.7070 - val_loss: 50194.3477 - val_mae: 50194.3477
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 49459.6602 - mae: 49459.6602 - val_loss: 50197.6914 - val_mae: 50197.6914
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 49453.9219 - mae: 49453.9219 - val_loss: 50203.3203 - val_mae: 50203.3203
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 49448.6406 - mae: 49448.6406 - val_loss: 50198.5703 - val_mae: 50198.5703

In [16]:
%load_ext tensorboard

In [17]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 18720), started 2:45:37 ago. (Use '!kill 18720' to kill it.)

In [18]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 839us/step - loss: 50181.3125 - mae: 50181.3125
Test MAE: 50181.3125

In [19]:
model.save('regression_model.h5')

c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

## Prediction Example

In [20]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'Exited':1
}

In [21]:
input_data_df = pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,Male,40,3,60000,2,1,1,1

In [22]:
# One-hot encode 'Geography'
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [23]:
# Label encode 'Gender'
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,1

In [24]:
# Combine one-hot encoded columns with input data
input_data_df = pd.concat([input_data_df.drop('Geography', axis=1), geo_encoded_df], axis=1)
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,1,1.0,0.0,0.0

In [25]:
# Scaling the input data
input_scaled = scaler.transform(input_data_df)
input_scaled

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374,  2.02214206,  0.98019606,
        -0.57581067, -0.56349184]])

In [28]:
# Predict the estimated salary
prediction = model.predict(input_scaled)
prediction[0][0]

1/1 [==============================] - 0s 15ms/step

87934.69