In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [30]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [31]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [32]:
# Label Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [33]:
# One hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [34]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [35]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [36]:
# Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
# Save the encoders and scalers
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler_regression.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [40]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics='mae')

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [42]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [43]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100390.0938 - mae: 100390.0938 - val_loss: 98563.6562 - val_mae: 98563.6562
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99800.9297 - mae: 99800.9297 - val_loss: 97368.5625 - val_mae: 97368.5625
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97675.3516 - mae: 97675.3516 - val_loss: 94176.8672 - val_mae: 94176.8672
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 93294.5703 - mae: 93294.5703 - val_loss: 88615.1797 - val_mae: 88615.1797
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 86651.4453 - mae: 86651.4453 - val_loss: 81103.2734 - val_mae: 81103.2734
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 78449.7031 - mae: 78449.7031 - val_loss: 72726.4844 - val_mae: 72726.4844
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 69916.7109 - mae: 69916.7109 - val_loss: 64791.3711 - val_mae: 64791.3711
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 62329.3008 - mae: 62329.3008 - val_loss: 58383.4883 - val_mae: 58383.4883
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 56685.5430 - mae: 56685.5430 - val_loss: 54078.2773 - val_mae: 54078.2773
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 53105.4453 - mae: 53105.4453 - val_loss: 51773.2812 - val_mae: 51773.2812
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51279.5273 - mae: 51279.5273 - val_loss: 50847.0195 - val_mae: 50847.0195
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50521.9961 - mae: 50521.9961 - val_loss: 50546.6367 - val_mae: 50546.6367
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50221.4141 - mae: 50221.4141 - val_loss: 50454.4062 - val_mae: 50454.4062
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50094.6680 - mae: 50094.6680 - val_loss: 50414.3047 - val_mae: 50414.3047
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50031.8320 - mae: 50031.8320 - val_loss: 50391.5547 - val_mae: 50391.5547
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 49980.6953 - mae: 49980.6953 - val_loss: 50372.4648 - val_mae: 50372.4648
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 49936.1367 - mae: 49936.1367 - val_loss: 50359.8281 - val_mae: 50359.8281
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 49894.6836 - mae: 49894.6836 - val_loss: 50354.7031 - val_mae: 50354.7031
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49866.7891 - mae: 49866.7891 - val_loss: 50335.5156 - val_mae: 50335.5156
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49841.4844 - mae: 49841.4844 - val_loss: 50325.9258 - val_mae: 50325.9258
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49817.5742 - mae: 49817.5742 - val_loss: 50304.1133 - val_mae: 50304.1133
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49793.9258 - mae: 49793.9258 - val_loss: 50298.0469 - val_mae: 50298.0469
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49778.0352 - mae: 49778.0352 - val_loss: 50297.9258 - val_mae: 50297.9258
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49753.8516 - mae: 49753.8516 - val_loss: 50299.4570 - val_mae: 50299.4570
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49734.3555 - mae: 49734.3555 - val_loss: 50295.2031 - val_mae: 50295.2031
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49719.2266 - mae: 49719.2266 - val_loss: 50289.6445 - val_mae: 50289.6445
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49703.7422 - mae: 49703.7422 - val_loss: 50283.8359 - val_mae: 50283.8359
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49692.8281 - mae: 49692.8281 - val_loss: 50278.9609 - val_mae: 50278.9609
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49673.9141 - mae: 49673.9141 - val_loss: 50279.6953 - val_mae: 50279.6953
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49660.6836 - mae: 49660.6836 - val_loss: 50278.8828 - val_mae: 50278.8828
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49652.0703 - mae: 49652.0703 - val_loss: 50278.4922 - val_mae: 50278.4922
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49636.8008 - mae: 49636.8008 - val_loss: 50273.9961 - val_mae: 50273.9961
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49626.5273 - mae: 49626.5273 - val_loss: 50262.9766 - val_mae: 50262.9766
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49617.7656 - mae: 49617.7656 - val_loss: 50263.6758 - val_mae: 50263.6758
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49605.7109 - mae: 49605.7109 - val_loss: 50274.5977 - val_mae: 50274.5977
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49594.3125 - mae: 49594.3125 - val_loss: 50265.8359 - val_mae: 50265.8359
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49584.3711 - mae: 49584.3711 - val_loss: 50267.4922 - val_mae: 50267.4922
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49575.9414 - mae: 49575.9414 - val_loss: 50266.4141 - val_mae: 50266.4141
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49564.2578 - mae: 49564.2578 - val_loss: 50274.6836 - val_mae: 50274.6836
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49560.0234 - mae: 49560.0234 - val_loss: 50267.1055 - val_mae: 50267.1055
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49549.3203 - mae: 49549.3203 - val_loss: 50267.7773 - val_mae: 50267.7773
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49539.2773 - mae: 49539.2773 - val_loss: 50275.8984 - val_mae: 50275.8984
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49532.1641 - mae: 49532.1641 - val_loss: 50285.3984 - val_mae: 50285.3984

In [44]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [45]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 18720), started 5:04:13 ago. (Use '!kill 18720' to kill it.)

In [46]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 816us/step - loss: 50262.9766 - mae: 50262.9766
Test MAE: 50262.9765625

In [47]:
model.save('regression_model.h5')

c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

## Prediction Example

In [48]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'Exited':1
}

In [49]:
input_data_df = pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,Male,40,3,60000,2,1,1,1

In [50]:
# One-hot encode 'Geography'
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

c:\Users\hariz\projects\simple_ANN_classification\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [51]:
# Label encode 'Gender'
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,1

In [52]:
# Combine one-hot encoded columns with input data
input_data_df = pd.concat([input_data_df.drop('Geography', axis=1), geo_encoded_df], axis=1)
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,1,1.0,0.0,0.0

In [53]:
# Scaling the input data
input_scaled = scaler.transform(input_data_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  1.96626042,  1.00150113,
        -0.57946723, -0.57638802]])

In [54]:
# Predict the estimated salary
prediction = model.predict(input_scaled)
prediction[0][0]

1/1 [==============================] - 0s 45ms/step

77245.8